$fontInterVBold: 'InterV_Bold', sans-serif;
$fontInterV: 'InterV', sans-serif;
$fontInter: 'Inter', sans-serif;
$fontInterVSemi: 'InterV_Semi', sans-serif;
$fontInterVMedium: 'InterV_Medium', sans-serif;

$color-red:#BB1E1E;
$color-red-dark:#B21919;
$color-red-dark-rgb:(178,25,25);
$color-blue: #1E71BB;
$color-black: #000000;
$color-grey: #1D1D1B;
$color-white: #FFFFFF;
$color-light-white: #F4F5F8;
$color-box-shadow: #C8CAD1;
$color-background: #F2F2F2;

$mobile-width: 425px;
$tablet-width: 768px;
$desktop-width: 1024px;
$desktop-xl-width: 1440px;